* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2.5rem;
}
p,
a {
  line-height: 1.5;
  font-size: 1.8rem;
  padding-bottom: 10px;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navBox {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBox div {
  width: 100%;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #8B008B;
  background-color: #F1F1F1;
  border-radius: 8px;
}
@media (min-width:800px) {
  .navBox div {
    max-width: 800px;
  }
}
.navBox nav {
  width: 100%;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBox a {
  text-decoration: none;
  font-size: 1.6rem;
  margin: 2%;
  color: #23293B;
}
.navBox a:hover {
  color: #1E90FF;
}
.home {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home img {
  border-radius: 8px;
}
.home header {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
}
@media (min-width:1000px) {
  .home header img {
    max-width: 1000px;
  }
}
.home .sectionContainer {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width:1000px) {
  .home .sectionContainer {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  .home .sectionContainer .container {
    width: 45%;
  }
}
.home section {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home section img {
  display: none;
}
@media (min-width:1000px) {
  .home section img {
    display: block;
    max-height: 450px;
  }
}
@media (min-width:800px) {
  .home section .tabletImg {
    display: block;
  }
}
button {
  width: 11rem;
  height: 3.8rem;
  color: #F6F7F8;
  background-color: #22283A;
  font-size: 2rem;
  margin-top: 2%;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
button:hover {
  color: #22283A;
  background-color: #F6F7F8;
}
.about {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about h1 {
  font-size: 3.2rem;
}
.about header {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
}
.about section {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width:800px) {
  .about section {
    border-bottom: 2px solid #454A59;
  }
}
.about section img {
  border-radius: 8px;
}
.about .team {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
}
@media (min-width:800px) {
  .about .team {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.about .member {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px solid #454A59;
  padding-bottom: 5%;
  flex: 1;
}
@media (min-width:800px) {
  .about .member {
    width: 45%;
    height: 100%;
    border: none;
  }
}
.about .member img {
  max-width: 180px;
}
.about .last {
  border: none;
}
.about .last a {
  margin: 2%, 0;
}
footer {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
