.about {
    h1{
        font-size: 3.2rem;
    }
    .customDisplay(center, center);
    flex-direction: column;

    header {
        .customDisplay(center, center);
        flex-direction: column;
        max-width: 800px;

    }

    section {
        .customDisplay(center, center);
        flex-direction: column;

        img{
            border-radius: 8px;
        }
    }
}
