.home {
    .customDisplay(center, center);
    flex-direction: column;

    .introP {
        font-size: 2rem;
    }

    img{
        border-radius: 8px;
    }

    header {
        .customDisplay(center, center);
        flex-direction: column;
        max-width: 800px;  
        
        @media @desktop {
            img {
                max-width: 1000px;
            }
        }
    }

    .sectionContainer {
        .customDisplay(center, center);
        flex-direction: column;
        

        @media @desktop {
            flex-flow: row wrap;
            justify-content: stretch;
            align-items: stretch;
            flex: 1;
            
            .container {
                width: 45%;
            }
        }

    }

    section {
        .customDisplay(center, center);
        flex-direction: column;
        padding: 1%;

        @media @desktop {
            flex-grow: 1;
            justify-content: space-between;
            
            
        }

        img {
            display: none; 

            @media @desktop {
                display: flex;
                height: 400px;
                
            }
        }

        .tabletImg {
            @media @tablet {
                display: flex;
            }
        }

    }
}

button {
    .customButton();

    &:hover {
        color: @button-hover-color;
        background-color: @button-hover-bg;
    }
}

.buttonTag {
    margin-top: 2%;
}