.home {
    .customDisplay(center, center);
    flex-direction: column;


    img{
        border-radius: 8px;
    }

    header {
        .customDisplay(center, center);
        flex-direction: column;
        max-width: 800px;   
    }

    .sectionContainer {
        .customDisplay(center, center);
        flex-direction: column;

        @media @desktop {
            flex-flow: row wrap;
        }

    }

    section {
        .customDisplay(center, center);
        flex-direction: column;


        img {
            display: none; 

            @media @desktop {
                display: block;
                max-height: 450px;
            }
        }

        .tabletImg {
            @media @tablet {
                display: block;
            }
        }

    }
}

button {
    .customButton();

    &:hover {
        color: @button-hover-color;
        background-color: @button-hover-bg;
    }
}
